/* 页面虚化 */
#page-header.not-top-img #nav {
    background: rgba(255, 255, 255, 0.5);
    /* 模糊效果 */
    backdrop-filter: blur(10px);
}

#aside-content>.card-widget:first-child {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

#aside-content .card-widget {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.layout>div:first-child:not(.recent-posts) {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

#recent-posts>.recent-post-item {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}


[data-theme='dark'] #aside-content>.card-widget:first-child {
    background: #181a1b;
    /* backdrop-filter: blur(10px); */
}

[data-theme='dark'] #aside-content .card-widget {
    background: #181a1b;
    /* backdrop-filter: blur(10px); */
}

[data-theme='dark'] .layout>div:first-child:not(.recent-posts) {
    background: #181a1b;
    /* backdrop-filter: blur(10px); */
}

[data-theme='dark'] #recent-posts>.recent-post-item {
    background: #181a1b;
    /* backdrop-filter: blur(10px); */
}

/* 导航栏颜色-暗夜 */
[data-theme='dark'] #page-header.not-top-img #nav {
    background: #181a1b;
}

/* 页码按钮颜色-暗夜 */
[data-theme='dark'] #pagination .page-number.current {
    background: rgb(100, 99, 99);
}

/* 目录颜色-暗夜 */
[data-theme='dark'] #aside-content #card-toc .toc-content .toc-link.active {
    background: rgb(100, 99, 99);
}

/* 版权信息-暗夜 */
[data-theme='dark'] #post .post-copyright .post-copyright-meta {
    color: rgb(142, 138, 138);
}

/* 版权图标-暗夜 */
[data-theme='dark'] #post .post-copyright:before {
    color: rgb(142, 138, 138);
}

/* 暗夜背景 */
[data-theme='dark'] #web_bg:before {
    /* background-color: rgba(0, 0, 0, 0.65); */
    background-color: #181a1b;
}

/*手机端毛玻璃优化*/
#sidebar #sidebar-menus.open {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
}

#sidebar #menu-mask {
    background: rgba(255, 255, 255, 0.382);
}

[data-theme='dark'] #sidebar #sidebar-menus.open {
    background: rgba(0, 0, 0, 0.725);
    backdrop-filter: blur(10px);
}

[data-theme='dark'] #sidebar #menu-mask {
    background: rgba(0, 0, 0, 0.316);
}

/*搜索框美化*/
.search-dialog {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
}

#search-mask {
    background: rgba(0, 0, 0, 0.382);
}

[data-theme='dark'] .search-dialog {
    background: rgba(54, 54, 54, 0.8);
    backdrop-filter: blur(10px);
}

/* 页脚背景颜色 */
#footer {
    background: rgba(255, 255, 255, 0);
    color: #000;
    backdrop-filter: saturate(100%) blur(5px)
}

/* 页脚文字颜色 */
#footer::before {
    background: rgba(255, 255, 255, .15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}